@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-semibold text-sm bg-slate-600 shadow-sm text-white;
  }

  .input-field {
    @apply w-full border-2 rounded border-slate-400;
  }

  .fieldset {
    @apply p-3 border-2 border-solid border-slate-300;
  }

  .btn-disabled {
    @apply bg-slate-300 cursor-not-allowed;
  }
}