@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 3.8rem;
  --content-min-width: 300px;
  --content-max-width: 576px;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-semibold text-sm bg-slate-600 shadow-sm text-white;
  }

  .input-field {
    @apply w-full border-2 rounded border-slate-400;
  }

  .fieldset {
    @apply p-3 border-2 border-solid border-slate-300;
  }

  .btn-disabled {
    @apply bg-slate-300 cursor-not-allowed;
  }

  .navbar-bg-color {
    @apply bg-slate-600;
  }

  .navbar-border-color {
    @apply border-slate-300;
  }

  .err-text-color {
    @apply text-red-700;
  }
}